.toastWrapper {
  width: max-content;
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  display: flex;
  background-color: #fff;
  border: 1px solid var(--red);
  color: #000;
  font-weight: 600;
  flex-direction: row;
  align-items: center;
  min-width: 100px;
  justify-content: center;
  z-index: 15;
  white-space: nowrap;
  padding: 1em 2em;
  border-radius: 5px;
}

@keyframes showing {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hiding {
  50% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}

.hiding {
  animation: hiding 1s ease;
}

.showing {
  animation: showing 1s ease-out;
}
