.wrapper {
    display: flex;
    min-height: 30rem;
}

.image {
    min-width: 19rem;
    max-width: 19rem;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(105%);
        object-fit: cover;
    }
}

.text {
    padding: 2.25em 2.5em 2.25em 2.5em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    h3 {
        font-size: clamp(1.5rem, 6vw, 1.875rem) !important;
    }

    label {
        display: block;
    }

    input:not(:global(.button)) {
        padding: 0.62rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem; 
        border: 1px solid #AAAAAA;
        margin: 0.75em 0;
        width: min(16.75rem, 100%);
        background-color: transparent;
        color: #969696;
    }

    :global(.button) {
        width: 100%;
        max-width: 16.75rem;
        margin: 0.75em 0 0 0;
        outline: none;
    }
}

@media only screen and (max-width: 62rem) {
    .wrapper {
        flex-direction: column-reverse;
    }

    .image {
        min-width: 100%;
        max-width: 100%;
        height: 15rem;
    }

    .text {
        padding: 3.5rem 7% 2.5rem 7%;
    }
}